.left-chart{
    margin-top: 50px;
    margin-left: 80px;
}

.right-chart{
    margin-left: 650px;
   margin-top: -365px;
}

.heading{
    color: darkviolet;
    margin-left: 40px;
    margin-top: -25px;
    padding-bottom: 25px;
}
